doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="icon" href="/nonexistentpath/favicon.ico" type="image/x-icon">)
  body
    div(class="header")
      form(action="/logout" method="POST")
        div(class="form-group")
          button( class="log-out-button" type="submit") Log out
      
      a(href="/") Home
      a(href="/messages") Messages
  block content
