doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    form(action="/logout" method="POST")
      div(class="form-group")
        button(type="submit") Log out
        
    block content
