extends layout 

block content 

  h1 Please log in.

  div(class="log-in-form")
    form(method="POST" action="")
      div(class="form-group")
        label( for="username") Username
        input(  type="text" name="username" placeholder="Email")
      div(class="form-group")
          label( for="password") Password
          input(  type="password" name="password" placeholder="Password")
      button(class="login-button" type="submit") Login.
  
  //- if messages.error
  //-   p #{messages.error}